@font-face {
  font-family: "SpaceMono-Regular";
  src: url("./assets/fonts/SpaceMono-Regular.ttf");
}
@font-face {
  font-family: "SpaceMono-Italic";
  src: url("./assets/fonts/SpaceMono-Italic.ttf");
}
@font-face {
  font-family: "SpaceMono-Bold";
  src: url("./assets/fonts/SpaceMono-Bold.ttf");
}
@font-face {
  font-family: "SpaceMono-BoldItalic";
  src: url("./assets/fonts/SpaceMono-BoldItalic.ttf");
}

:root {
  /*  */
  font-size: 16px;

  /* Fonts */
  --font-spaceMono-reg: "SpaceMono-Regular";
  --font-spaceMono-italic: "SpaceMono-Italic";
  --font-spaceMono-bold: "SpaceMono-Bold";
  --font-spaceMono-bold-italic: "SpaceMono-BoldItalic";
  
  /* Colors */
  --color-strong-cyan: hsl(172, 67%, 45%);
  --color-very-dark-cyan: hsl(183, 100%, 15%);
  --color-dark-grayish-cyan: hsl(186, 14%, 43%);
  --color-grayish-cyan: hsl(184, 14%, 56%);
  --color-light-grayish-cyan: hsl(185, 41%, 84%);
  --color-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-offset: 0.20rem;
  font-family: var(--font-spaceMono-reg);
}

body {
  background-color: var(--color-dark-grayish-cyan);
}

#wrapper {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-light-grayish-cyan);
}

.logo {
  padding: 2rem;
}


.calculatorBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: white;
  border-radius: 1.5rem 1.5rem 0 0;
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  width: 100%;
  height: 2rem;
  text-align: right;
  padding: 1rem;
}

input::-webkit-inner-spin-button {
  display: none;
}

.billBox, .peopleBox {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  gap: 0.5rem;
}

.billBox > label, .peopleBox > label {
  grid-column: 1/-1;
  grid-row: 1/2;
  color: var(--color-dark-grayish-cyan);
  font-family: var(--font-spaceMono-bold);
  font-size: 1rem;
}

.billBox > input, .peopleBox > input {
  grid-column: 1/-1;
  grid-row: 2/-1;
  border-style: none;
  color: var(--color-very-dark-cyan);
  font-family: var(--font-spaceMono-bold);
  font-size: 1.5rem;
  padding: 1.5rem;
  background-color: var(--color-very-light-grayish-cyan);
  border-radius: 0.5rem;
}

.billBox > input:focus, .peopleBox > input:focus {
  outline: none;
  border-style: solid;
  border-color: var(--color-strong-cyan);
}

.billBox > img, .peopleBox > img {
  grid-column: 1/2;
  grid-row: 2/-1;
  font-size: 1.5rem;
  margin-left: 1rem;
  font-family: var(--font-spaceMono-reg);
  color: var(--color-grayish-cyan);
}

.tipBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tipBox > h2 {
  font-size: 1rem;
  font-family: var(--font-spaceMono-bold);
  color: var(--color-dark-grayish-cyan);
}

.percentBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.percentButton {
  font-size: 1.5rem;
  border-style: none;
  border-radius: 0.25rem;
  padding: 0.25rem;
  color: var(--color-very-light-grayish-cyan);
  font-family: var(--font-spaceMono-bold);
  background-color: var(--color-very-dark-cyan);
}

.percentButton:hover {
  color: var(--color-very-dark-cyan);
  background-color: var(--color-light-grayish-cyan);
}

.percentBox > input {
  color: var(--color-dark-grayish-cyan);
  background-color: var(--color-very-light-grayish-cyan);
}

.percentBox > input {
  border-style: none;
  color: var(--color-white);
  font-family: var(--font-spaceMono-bold);
  font-size: 1.5rem;
  padding: 1.35rem;
  background-color: var(--color-strong-cyan);
  border-radius: 0.25rem;
}

.percentBox > input:focus {
  outline: none;
  border-style: solid;
  border-color: var(--color-strong-cyan);
  color: var(--color-very-dark-cyan);
  font-family: var(--font-spaceMono-bold);
  font-size: 1.5rem;
  padding: 1.35rem;
  background-color: var(--color-very-light-grayish-cyan);
  border-radius: 0.25rem;
}

.peopleBox > .error {
  grid-column: 1/-1;
  grid-row: 1/1;
  justify-self: flex-end;
  color: red;
  font-size: 0.75rem;
  font-family: var(--font-spaceMono-bold);
}

.peopleBox > .errorBorder, .peopleBox > .errorBorder:focus {
  border: solid;
  border-color: red;
}

.outputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--color-very-dark-cyan);
}

.tipAmountBox, .totalBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tipTitle, .totalTitle {
  display: flex;
  flex-direction: column;
}

.mainText {
  color: var(--color-very-light-grayish-cyan);
  font-family: var(--font-spaceMono-bold);
}

.subText {
  font-size: 0.75rem;
  color: var(--color-grayish-cyan);
  font-family: var(--font-spaceMono-bold);
}

.amountText {
  font-size: 2rem;
  color: var(--color-strong-cyan);
  font-family: var(--font-spaceMono-bold);
}

.resetButton {
  font-size: 1.25rem;
  color: var(--color-very-dark-cyan);
  font-family: var(--font-spaceMono-bold);
  border-style: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  justify-self: flex-end;
  background-color: var(--color-strong-cyan);
}

.resetButton:hover {
  background-color: var(--color-light-grayish-cyan);
}




@media screen and (min-width: 650px) {
  * {
    color: red;
  }

  .calculatorBox {
    max-width: 700px;
    flex-direction: row;
    border-radius: 1.5rem;
  }

  .inputBox {
    flex: 1;
  }

  .outputBox {
    flex: 1;
  }

  .percentBox {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  .percentButton {
    width: 100px;
  }
}

/* Support CSS */
.selected {
  color: var(--color-very-dark-cyan);
  background-color: var(--color-strong-cyan);
}

.errorBorder {
  border-color: red;
}